.app {
  background: #ff99bb;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  width: 500px;
  padding: 5px;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.todo {
  align-items: center;
  background: #d37fa1;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
